@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins:wght@300;400;500;600&family=Ramabhadra&display=swap');
@import "variables.scss";
@import "mixins.scss";
@import "default.scss";


// header
.header{
    color: $white;
    padding-top: 19px;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;

            li{
                margin-right: 100px;
                position: relative;

                &:hover{
                    color: $green;

                    &::after{
                        content: '';
                        width: 100%;
                        height: 3px;
                        background: #46B249;
                        position: absolute;
                        border-radius: 0 0 50px 50px;
                        top: -52px;
                        left: 0;
                    }
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }

        .sign-in{
            display: flex;
            align-items: center;

            .buy{
                display: flex;
                position: relative;
                margin-right: 29px;
                width: 26px;
                height: 25px;

                .count-item{
                    width: 12px;
                    height: 12px;
                    flex-shrink: 0;
                    background: #FF0033;
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 15px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    right: -7px;
                }
            }

            .line{
                width: 1.5px;
                height: 14px;
                background: $white;
                margin-right: 25px;
            }

            .avatar{
                position: relative;

                &::after{
                    content: '';
                    border-left:10px solid transparent;
                    border-right:10px solid transparent;
                    border-top:10px solid $white;
                    border-bottom:10px solid transparent;
                    position: absolute;
                    top: 20px;
                    right: -31px;
                }
            }
        }
    }
}

//main
.main{
    color: $white;

    .container{
        display: flex;
        justify-content: space-between;

        .titles{

            h1{
                font-family: $Ramabhadra;
                font-size: $fz120;
                line-height: 125%;  
                text-transform: uppercase;
                color: $black;
                text-shadow: 1px 1px 0px $white, -1px -1px 0px $white, -1px 1px 0px $white, 1px -1px 0px $white, 1px -1px 0px $white;
                margin-top: 77px;

                & span{
                    font-weight: $extraBold;
                    font-size: $fz120;
                    line-height: 125%;
                    text-transform: uppercase;
                    color: $green;
                    border: none;
                    text-shadow: none;
                }
            }

           
        }

        &.other{
            justify-content: flex-end;
            font-size: $fz25;
            line-height: 173.5%;
        }

        &.bottom{
            position: relative;
            align-items: flex-end;
            justify-content: flex-end;


            .gallery-text{
                position: absolute;
                left: 0;
                bottom: 0;

                h3{
                    font-weight: $semibold;
                    font-size: $fz40;
                    line-height: 173.5%;
                    color: $green; 
                }
    
                p{
                    font-size: $fz28;
                    line-height: 173.5%;
                }
            }
    
            .tablet{
                width: 1049px;
                height: 818px;
                flex-shrink: 0;
                position: relative;
                background: 
                    url($imagePath + 'tablet.png') no-repeat center right, 
                    url($imagePath + 'Ellipse1.png') no-repeat top left ;

                    .people1{
                        position: absolute;
                        top: 359px;
                        left: 95px;

                        &:after{
                            content: '';
                            width: 25px;
                            height: 25px;
                            background: $green;
                            position: absolute;
                            top: 20px;
                            right: 6px;
                            border-radius: 50%;
                        }

                        p{
                            width: 257px;
                            padding: 15px;
                            background: rgba(0, 0, 0, 0.56);
                            border-radius: 0px 15px 15px 15px;
                            position: absolute;
                            top: 42px;
                            left: 141px;
                        }
                    }

                    .peoples{
                        position: absolute;
                        bottom: 197px;
                        right: -120px;
                    }
            }
        }
    }
}

// our_teachers
.our_teachers{
    margin-top: 61px;

    h2{
        margin-bottom: 50px;
    }

    & > ul{
        display: flex;
        justify-content: space-between;

        & > li{
            position: relative;
            height: 543px;
            flex-basis: 20%;
            flex-grow: 1;
            transition: .5s;
            filter: brightness(20%);

            @include teachersBg();

            &:hover{
                transform: scale(1.1, 1.1);
                z-index: 1;
                filter: brightness(100%);
                
                ul{
                    display: flex;
                    top: 34px;
                    right: -50px;
                }
            }

            div{
                height: 105px;
                background: #46B249;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding-top: 17px;

                p{
                    text-align: center;

                    &.title{
                        font-family: $Poppins;
                        font-weight: $semibold;
                        font-size: $fz30;
                        line-height: 125%;
                        color: $black;
                        margin-bottom: 8px;
                    }

                    &.descr{
                        font-family: $Poppins;
                        font-weight: $light;
                        font-size: $fz20;
                        line-height: 125%;
                        color: $white;
                    }
                }
            }

            ul{
                position: absolute;
                width: 50px;
                height: 232px;
                background: $green;
                border-radius: 0px 28px 28px 0px;
                top: 0;
                right: -10px;
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                li{
                    width: 34px;
                    height: 34px;
                    background-color: $white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $green;
                }
            }
        }
    }
}


// why_us
.why_us{
    padding-top: 292px;
    background: url("../img/why_us_bg.png") top 100px right no-repeat;

    .container{
        display: flex;
        justify-content: space-between;

        h2{
            margin-bottom: 23px;
            text-align: left;
        }
    
        p{
            color: $white;
            font-family: $Poppins;
            font-size: $fz_default;
            line-height: 173.5%;
            text-align: justify;
            margin-bottom: 20px;

            &:last-of-type{
                margin-bottom: 30px;
            }
        }

        img{
            border-radius: 8px;
        }

        button{
            @include btn(167px);
        }

        div{
            &:first-child{
                margin-right: 38px;
            }
            &:nth-child(2){
                margin-right: 47px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

//review
.review{
    margin-top: 149px;

    .container{
        display: flex;
        justify-content: space-between;

        .photo{
            width: 440px;
            flex-shrink: 0;
            height: 692px;
            background: $green;
            border-radius: 21px;
            position: relative;
            margin-left: 32px;
            margin-right: 150px;

            & > div{
                position: absolute;
                width: 504px;
                height: 604.8px;
                background: #FFFFFF;
                border-radius: 5px;
                padding: 25px;
                border-radius: 8px;
                top: 50%;
                margin-top: -302px;
                left: 50%;
                margin-left: -252px;

                p{
                    font-family: $Ramabhadra;
                    text-transform: uppercase;
                    text-align: center;

                    &:first-of-type{
                        font-size: $fz30;
                        line-height: 42px;
                        color: $green;
                    }

                    &:last-child{
                        font-size: $fz20;
                        line-height: 38px;
                        color: $black;
                    }
                    
                }

                img{
                    border-radius: 5px;
                }
                
            }
        }

        .descr{

            h2{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 80px;
            }

            p{
                font-family: $Poppins;
                font-size: $fz25;
                line-height: 173.5%;
                color: $white;
                position: relative;
                margin-right: 125px;

                span{
                    white-space: nowrap;
                }

                &::before{
                    content: "";
                    background: url('../img/Vector.svg') no-repeat center;
                    width: 170px;
                    height: 118px;
                    position: absolute;
                    top: -124px;
                    left: -72px;
                }

                &::after{
                    content: "";
                    background: url('../img/Vector.svg') no-repeat center;
                    width: 170px;
                    height: 118px;
                    position: absolute;
                    right: -120px;
                    bottom: -72px;
                    transform: scale(-1);
                }
            }

        }
    }
}

//workshops
.workshops{
    margin-top: 104px;
    color: $white;

    .container{
        h2{
            color: $black;
            margin-bottom: 52px;
        }

        .workshops-wrap{
            display: flex;
            justify-content: space-around;

            .item{
                width: 694px;
                height: 600px;
                text-align: center;
                position: relative;
                filter: brightness(40%);
                transition: 0.5s;

                &:first-child{
                    background: 
                        url('../img/shadow.png') center bottom -10px no-repeat, 
                        url('../img/Workshops1.png') center no-repeat;
                }

                &:last-child{
                    background: 
                        url('../img/shadow.png') center bottom -10px no-repeat,
                        url('../img/Workshops2.png') center no-repeat;
                }

                &:hover{
                    filter: brightness(100%);

                    .date, .bookmark{
                        visibility: visible;
                    }
                }

                .date{
                    position: absolute;
                    width: 226px;
                    height: 99px;
                    background: #46B249;
                    color: #ffffff;
                    border-radius: 0px 0px 10px 10px;
                    font-family: "Ramabhadra", sans-serif;
                    font-size: 30px;
                    line-height: 125%;
                    text-transform: uppercase;
                    top: 0;
                    padding-top: 12px;
                    left: 38px;
                    visibility: hidden;
                }

                h5{
                    margin-top: 364px;
                    margin-bottom: 15px;
                    font-family: $Poppins;
                    font-weight: $semibold;
                    font-size: $fz30 + 5;
                    line-height: 125%;
                    color: $green;
                }

                p{
                    font-family: $Poppins;
                    font-weight: $light;
                    font-size: $fz20;
                    line-height: 30px;
                }

                .bookmark{
                    position: absolute;
                    width: 232px;
                    height: 55px;
                    background: $green;
                    border-radius: 28px 28px 0px 0px;
                    font-family: "Ramabhadra", sans-serif;
                    font-size: 35px;
                    line-height: 125%;
                    text-transform: uppercase;
                    transform: rotate(90deg);
                    right: -144px;
                    padding-top: 6px;
                    top: 120px;
                    visibility: hidden;
                }

                .btns{
                    display: flex;
                    justify-content: center;
                    margin-top: 33px;

                    .buy{
                        width: 280px;
                        height: 75px;
                        background: $green;
                        border: 1px solid $green;
                        border-radius: 10px;
                        font-family: $Poppins;
                        font-size: $fz25;
                        line-height: 181%;
                        color: inherit;
                        margin-right: 25px;
                    }

                    .more{
                        width: 280px;
                        height: 75px;
                        background: $gray;
                        border-radius: 10px;
                        font-family: $Poppins;
                        font-weight: $semibold;
                        font-size: $fz25;
                        line-height: 173.5%;
                        color: inherit;

                        i{
                            transform: rotate(90deg);
                            margin-left: 7px;
                            color: $green;
                        }
                    }
                }
            }
        }
    }
}

//upcoming_classes
.upcoming_classes{
    color: $white;
    padding-top: 63px;

    .container{

        h2{
            text-align: left;
            color: $black;
            margin-bottom: 50px;
        }

        .wrap{
            display: flex;
            justify-content: space-between;

            .text{
                width: 620px;
                flex-shrink: 0;

                p{
                    font-size: $fz25;
                    line-height: 173.5%;
                    text-align: justify;
                    margin-bottom: 20px;
                }
                button{
                    @include btn(261px)
                }
            }

            .picture{
                width: 840px;
                height: 712px;
                background: 
                    url('../img/shadow.png') center bottom -10px no-repeat, 
                    url('../img/uncoming1.jpg') center no-repeat;
                background-size: cover;
                position: relative;
                margin-right: 62px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding-bottom: 55px;

                h5{
                    font-weight: $semibold;
                    font-size: $fz30;
                    line-height: 125%;
                    color: $green;
                    margin-bottom: 18px;
                }

                & > p{
                    font-weight: $semibold;
                    font-size: $fz30;
                    line-height: 125%;
                    margin-bottom: 41px;
                    display: flex;
                    align-items: center;

                    img{
                        margin-right: 15px;
                    }
                }

                button{
                    width: 445px;
                    height: 75px;
                    background: $green;
                    border: 1px solid $green;
                    border-radius: 10px;
                    font-weight: $semibold;
                    font-size: $fz25;
                    line-height: 181%;
                    color: inherit;
                }

                .circle{
                    position: absolute;
                    top: -112px;
                    margin-top: 0;
                    right: -62px;

                    p{
                        font-size: $fz100 - 20;
                        line-height: 120px;
                        text-align: center;
                        text-transform: uppercase;
                        color: $black;
                    }

                    &::after{
                        content: none;
                    }
                }
            }
        }
    }
}

//subscription
.subscription{
    color: $white;
    margin-top: 57px;
    text-align: center;

    .container{

        h2{
            color: $black;
            margin-bottom: 62px;
        }

        .tiles{
            display: flex;
            justify-content: space-between;

            & > li{
                width: 370px;
                height: 580px;
                background: $gray;

                .tile-header{
                    padding-top: 37px;
                    padding-bottom: 20px;
                    position: relative;
                    overflow: hidden;

                    &.active{
                        background: $green;
                    }

                    .title{
                        font-family: $Ramabhadra;
                        font-size: $fz25;
                        line-height: 125%;
                        text-transform: uppercase;
                    }
    
                    .price{
                        font-family: $Ramabhadra;
                        font-size: $fz120 / 2;
                        line-height: 125%;
                        text-transform: uppercase;
                        
                        &.free{
                            color: $green;
                        }
                    }

                    .recommended{
                        position: absolute;
                        width: 182px;
                        height: 30px;
                        background: $white;
                        transform: rotate(49.29deg);
                        font-family: $Ramabhadra;
                        font-size: $fz15;
                        line-height: 125%;
                        text-transform: uppercase;
                        color: $gray;
                        padding-top: 6px;
                        right: -44px;
                        top: 39px;
                    }
                }

                hr{
                    margin-bottom: 20px; 
                    border:1px solid $black;
                }

                ul{
                    padding-left: 73px;
                    li{
                        font-size: $fz30;
                        line-height: 181%;
                        text-align: left;
                        list-style-image: url('../img/arrow.svg');

                        &.no-active{
                            color: #5c6466;
                            list-style-image: none;
                        }
                    }
                }

                button{
                    width: 280px;
                    height: 75px;
                    background: $gray;
                    border: 1px solid #525252;
                    border-radius: 10px;
                    font-size: $fz25;
                    line-height: 181%;
                    color: inherit;
                    margin-top: 29px;

                    &.active{
                        border: 1px solid $green;
                    }
                }
            }
        }
    }
}