// colors
$green: #46B249;
$white: #ffffff;
$black: #000000;
$gray : #233133;
$red  : #FF0033;
$dark_green: #365a29;

// fonts
$Mulish: 'Mulish', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Ramabhadra: 'Ramabhadra', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 600;
$extraBold: 700;

$fz10: 10px;
$fz15: 15px;
$fz_default: 19px;
$fz20: 20px;
$fz25: 25px;
$fz28: 28px;
$fz30: 30px;
$fz35: 35px;
$fz40: 40px;
$fz100: 100px;
$fz120: 120px;

//containers
$xl: 1580px;


//image
$imagePath: '../img/';

