@import "variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: $Poppins;
    font-size: $fz_default;
    background: $black;
    height: 10000px;
}

.container{
    width: $xl;
    margin: 0 auto;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style-type: none;
}
h2{
    font-family: $Ramabhadra;
    font-size: $fz100;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px -1px 0px #ffffff, 1px -1px 0px #ffffff;
}
