@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins:wght@300;400;500;600&family=Ramabhadra&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  background: #000000;
  height: 10000px; }

.container {
  width: 1580px;
  margin: 0 auto; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style-type: none; }

h2 {
  font-family: "Ramabhadra", sans-serif;
  font-size: 100px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px -1px 0px #ffffff, 1px -1px 0px #ffffff; }

.header {
  color: #ffffff;
  padding-top: 19px; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .container ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .container ul li {
        margin-right: 100px;
        position: relative; }
        .header .container ul li:hover {
          color: #46B249; }
          .header .container ul li:hover::after {
            content: '';
            width: 100%;
            height: 3px;
            background: #46B249;
            position: absolute;
            border-radius: 0 0 50px 50px;
            top: -52px;
            left: 0; }
        .header .container ul li:last-child {
          margin-right: 0; }
    .header .container .sign-in {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .container .sign-in .buy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        margin-right: 29px;
        width: 26px;
        height: 25px; }
        .header .container .sign-in .buy .count-item {
          width: 12px;
          height: 12px;
          -ms-flex-negative: 0;
              flex-shrink: 0;
          background: #FF0033;
          font-weight: 700;
          font-size: 10px;
          line-height: 15px;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          position: absolute;
          top: 0;
          right: -7px; }
      .header .container .sign-in .line {
        width: 1.5px;
        height: 14px;
        background: #ffffff;
        margin-right: 25px; }
      .header .container .sign-in .avatar {
        position: relative; }
        .header .container .sign-in .avatar::after {
          content: '';
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #ffffff;
          border-bottom: 10px solid transparent;
          position: absolute;
          top: 20px;
          right: -31px; }

.main {
  color: #ffffff; }
  .main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .main .container .titles h1 {
      font-family: "Ramabhadra", sans-serif;
      font-size: 120px;
      line-height: 125%;
      text-transform: uppercase;
      color: #000000;
      text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px -1px 0px #ffffff, 1px -1px 0px #ffffff;
      margin-top: 77px; }
      .main .container .titles h1 span {
        font-weight: 700;
        font-size: 120px;
        line-height: 125%;
        text-transform: uppercase;
        color: #46B249;
        border: none;
        text-shadow: none; }
    .main .container .circle {
      width: 224px;
      height: 224px;
      background: #46B249;
      padding: 8px;
      border-radius: 50%;
      position: relative;
      margin-top: 107px; }
      .main .container .circle p {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 1px solid #000000;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .main .container .circle:after {
        content: 'PLUS';
        width: 68px;
        height: 68px;
        position: absolute;
        top: 16px;
        right: -15px;
        border: 1px solid #000000;
        background: #46B249;
        color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 50%; }
    .main .container.other {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      font-size: 25px;
      line-height: 173.5%; }
    .main .container.bottom {
      position: relative;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .main .container.bottom .gallery-text {
        position: absolute;
        left: 0;
        bottom: 0; }
        .main .container.bottom .gallery-text h3 {
          font-weight: 500;
          font-size: 40px;
          line-height: 173.5%;
          color: #46B249; }
        .main .container.bottom .gallery-text p {
          font-size: 28px;
          line-height: 173.5%; }
      .main .container.bottom .tablet {
        width: 1049px;
        height: 818px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        position: relative;
        background: url("../img/tablet.png") no-repeat center right, url("../img/Ellipse1.png") no-repeat top left; }
        .main .container.bottom .tablet .people1 {
          position: absolute;
          top: 359px;
          left: 95px; }
          .main .container.bottom .tablet .people1:after {
            content: '';
            width: 25px;
            height: 25px;
            background: #46B249;
            position: absolute;
            top: 20px;
            right: 6px;
            border-radius: 50%; }
          .main .container.bottom .tablet .people1 p {
            width: 257px;
            padding: 15px;
            background: rgba(0, 0, 0, 0.56);
            border-radius: 0px 15px 15px 15px;
            position: absolute;
            top: 42px;
            left: 141px; }
        .main .container.bottom .tablet .peoples {
          position: absolute;
          bottom: 197px;
          right: -120px; }

.our_teachers {
  margin-top: 61px; }
  .our_teachers h2 {
    margin-bottom: 50px; }
  .our_teachers > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .our_teachers > ul > li {
      position: relative;
      height: 543px;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-transition: .5s;
      transition: .5s;
      -webkit-filter: brightness(20%);
              filter: brightness(20%); }
      .our_teachers > ul > li:nth-child(1) {
        background: url("../img/teachers1.png") center no-repeat;
        background-size: cover; }
      .our_teachers > ul > li:nth-child(2) {
        background: url("../img/teachers2.png") center no-repeat;
        background-size: cover; }
      .our_teachers > ul > li:nth-child(3) {
        background: url("../img/teachers3.png") center no-repeat;
        background-size: cover; }
      .our_teachers > ul > li:nth-child(4) {
        background: url("../img/teachers4.png") center no-repeat;
        background-size: cover; }
      .our_teachers > ul > li:nth-child(5) {
        background: url("../img/teachers5.png") center no-repeat;
        background-size: cover; }
      .our_teachers > ul > li:hover {
        -webkit-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1);
        z-index: 1;
        -webkit-filter: brightness(100%);
                filter: brightness(100%); }
        .our_teachers > ul > li:hover ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          top: 34px;
          right: -50px; }
      .our_teachers > ul > li div {
        height: 105px;
        background: #46B249;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 17px; }
        .our_teachers > ul > li div p {
          text-align: center; }
          .our_teachers > ul > li div p.title {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 30px;
            line-height: 125%;
            color: #000000;
            margin-bottom: 8px; }
          .our_teachers > ul > li div p.descr {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-size: 20px;
            line-height: 125%;
            color: #ffffff; }
      .our_teachers > ul > li ul {
        position: absolute;
        width: 50px;
        height: 232px;
        background: #46B249;
        border-radius: 0px 28px 28px 0px;
        top: 0;
        right: -10px;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }
        .our_teachers > ul > li ul li {
          width: 34px;
          height: 34px;
          background-color: #ffffff;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          color: #46B249; }

.why_us {
  padding-top: 292px;
  background: url("../img/why_us_bg.png") top 100px right no-repeat; }
  .why_us .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .why_us .container h2 {
      margin-bottom: 23px;
      text-align: left; }
    .why_us .container p {
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      font-size: 19px;
      line-height: 173.5%;
      text-align: justify;
      margin-bottom: 20px; }
      .why_us .container p:last-of-type {
        margin-bottom: 30px; }
    .why_us .container img {
      border-radius: 8px; }
    .why_us .container button {
      width: 167px;
      height: 55px;
      border: 1px solid #46B249;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 19px;
      line-height: 173.5%;
      color: #ffffff;
      background: transparent; }
      .why_us .container button i {
        margin-left: 16px;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
    .why_us .container div:first-child {
      margin-right: 38px; }
    .why_us .container div:nth-child(2) {
      margin-right: 47px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.review .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .review .container .photo {
    width: 440px;
    height: 692px;
    background: #46B249;
    border-radius: 21px;
    position: relative; }
    .review .container .photo > div {
      position: absolute;
      width: 504px;
      height: 604.8px;
      background: #FFFFFF;
      border-radius: 5px;
      padding: 25px;
      border-radius: 8px;
      top: 50%;
      margin-top: -302px;
      left: 50%;
      margin-left: -252px; }
      .review .container .photo > div p {
        font-family: "Ramabhadra", sans-serif;
        text-transform: uppercase;
        text-align: center; }
        .review .container .photo > div p:first-of-type {
          font-size: 30px;
          line-height: 42px;
          color: #46B249; }
        .review .container .photo > div p:last-child {
          font-size: 20px;
          line-height: 38px;
          color: #000000; }
      .review .container .photo > div img {
        border-radius: 5px; }
